APP_NAME=LogistikPro
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=host.docker.internal
DB_PORT=5432
DB_DATABASE=logistikpro
DB_USERNAME=logistikpro
DB_PASSWORD=change-me

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync
