APP_NAME=LogistikPro
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=database
DB_PORT=5432
DB_DATABASE=logistikpro
DB_USERNAME=logistikpro
DB_PASSWORD=logistikpro_test

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

# CORREO (PRUEBAS MAILTRAP)
MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=MAILTRAP_USERNAME
MAIL_PASSWORD=MAILTRAP_PASSWORD
MAIL_FROM_ADDRESS="contactologistikpro@gmail.com"
MAIL_FROM_NAME="LogistikPro"
MAIL_CONTACT_RECIPIENT="contactologistikpro@gmail.com"
